<form action="/teams" method="POST">
  <h1>Create a Team and Heroes!</h1>
  <input type="text">
  <label for="team_name">Team Name:</label>
      <input id="team_name" type="text" name="team_name">
      <input type="submit">
</form>
